.deckStyling {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "deckNameClass deckNameClass studyClass"
      "deckNameClass deckNameClass editClass"
      "tagsClass tagsClass sharedEmailsAndUID";
  }
  
  .deckNameClass { grid-area: deckNameClass; }
  .tagsClass { grid-area: tagsClass; }
  
  .sharedEmailsAndUID {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0x;
    grid-auto-flow: row;
    grid-template-areas:
      "sharedEmailsClass"
      "UIDClass";
    grid-area: sharedEmailsAndUID;
  }
  
  .sharedEmailsClass { grid-area: sharedEmailsClass; margin-bottom:1em; }
  .UIDClass { grid-area: UIDClass; margin-top: 1em;}
  
  .studyClass { grid-area: studyClass; }
  .editClass { grid-area: editClass; }
  