.studyDiv {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
/*   gap: 10px 10px; */
  grid-auto-flow: row;
  grid-template-areas:
    "back . forward"
    ". QADiv ."
    "noKnown . yesKnown";
}

.yesKnown { grid-area: yesKnown; }
.back { grid-area: back; }
.forward { grid-area: forward; }
.noKnown { grid-area: noKnown; }
.QADiv { grid-area: QADiv; }

.yesKnown, .back, .forward, .noKnown, .QADiv{
  margin:auto;
/*   width:50%; */
}

/* ================= */
.center{
  margin: auto;
  width:50%;
}
/* ================= */

.editingTop{
  /* grid for top of editing page */
display: grid;
grid-template-columns: 5% 90% 5%;
grid-template-rows: 1fr;
gap: 0px 0px;
grid-auto-flow: row;
grid-template-areas:
  "backButtonClass nameClass saveButtonClass";
}

.backButtonClass { grid-area: backButtonClass; }
.nameClass { grid-area: nameClass; }
.saveButtonClass { grid-area: saveButtonClass; }

/* ================= */
.boxesGrid {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "questionClass answerClass";
}

.questionClass { grid-area: questionClass; }
.answerClass { grid-area: answerClass; }

/* ================= */

.boxesQAndA{  
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  gap: 1em 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "questionClass answerClass";
}

.answerClass { grid-area: answerClass; }
.questionClass { grid-area: questionClass; }

/* ================= */
.boxesAndDelete {  
  display: grid;
  grid-template-columns: 95% 5%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "boxesClass deleteButtonClass";
}

.boxesClass { grid-area: boxesClass; width:100%;}
.deleteButtonClass { grid-area: deleteButtonClass; }

/* ================= */
.widthFull{
  width: 98%;
}
.right{
  right:0;
}